<br>
<div class="card">
  <div class="card-content">
    <span class="card-title">Welcome</span>
    <div class="row">
      <div class="col m4">
        Opsview Adverts control panel allows access to <b>add and delete</b> adverts in the rotation used on our web UI, mobile devices and other areas.
      </div>
      <div class="col m4">
        Adverts are cycled <b>every 48 hours</b> and served from S3.
      </div>
      <div class="col m4">
        The current adverts in rotation are shown below with the advert currently visible to our customers highlighted.
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col m6">
    <div class="card">
      <div class="card-content">
        <span class="card-title">Status</span>
        <div class="collection">
          <div class="collection-item">
              {{#if advertsStatus}}
                <span data-badge-caption="" class="badge new green accent-4">On</span>Adverts Status
              {{else}}
                <span data-badge-caption="" class="badge new red accent-4">Off</span>Adverts Status
              {{/if}}
          </div>
          <a class="collection-item opsview-text" target="_blank" href={{currentAdvert.s3Url}}>
            <span data-badge-caption="" class="badge new opsview">{{currentAdvert.name}}</span>Current Showing Ad
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="col m6">
    <div class="card">
      <div class="card-content">
        <span class="card-title">Actions</span>
        <form action="/action" method="post" enctype="multipart/form-data">
          <input type="hidden" name="toggleAdvertsStatus" value="{{advertsStatusToggled}}">
          <button class="btn waves-effect waves-light opsview" type="submit">
            {{#if advertsStatus}}
              Disable all adverts
            {{else}}
              Enable all adverts
            {{/if}}
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
<h5>Adverts</h5>
{{#unless showAdverts}}
  <div class="card-panel light-blue darken-3 white-text" role="alert"><b>There are no adverts in the database</b></div>
{{/unless}}
{{#each adverts}}
  <div class="card horizontal">
    <div class="card-image hide-on-med-and-down">
      <img src="{{this.s3Url}}" style="width: 200px;">
    </div>
    <div class="card-stacked">
      <div class="card-content">
        <table class="responsive-table">
          <thead>
            <tr>
              <th>Advert Name</th>
              <th>Target Versions</th>
              <th>Created</th>
              <th>Redirect Url</th>
              <th class="hide-on-large-only">S3 Url</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{this.name}}</td>
              <td>{{this.targetVersion}}</td>
              <td>{{created this.created}}</td>
              <td><a href="{{this.redirectUrl}}">{{this.redirectUrl}}</a></td>
              <td class="hide-on-large-only"><a href="{{this.s3Url}}">{{this.s3Url}}</a></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="card-action">
        <form action="/advert" method="post" enctype="multipart/form-data" style="display:inline;">
          <input type="hidden" name="cmd" value="change">
          <input type="hidden" name="advert_name" value="{{this.name}}">
          <button type="submit" class="btn opsview">Set As Current Advert</button>
        </form>
        <form action="/advert" method="post" enctype="multipart/form-data" style="display:inline;">
          <input type="hidden" name="cmd" value="remove">
          <input type="hidden" name="advert_name" value="{{this.name}}">
          <button type="submit" class="btn red accent-4">Delete</button>
        </form>
      </div>
    </div>
  </div>
{{/each}}
