<div class="mt-3">
  <h2>Actions</h2>
  <form action="/action" method="post" enctype="multipart/form-data" class="mt-2 mb-2">
    <input type="hidden" name="toggle_adverts_status" value="{{adverts_status_toggled}}">
    <button type="submit" class="btn btn-outline-primary">
      {{#if adverts_status}}
        Disable all adverts
      {{else}}
        Enable all adverts
      {{/if}}
    </button>
  </form>
  <hr>
  <h2>Adverts</h2>
  {{#unless show_adverts}}
    <div class="alert alert-info" role="alert">There are no adverts in the database</div>
  {{/unless}}
  <table class="table table-responsive table-hover">
    <thead>
      <tr>
        <th>Advert Name</th>
        <th>Target Versions</th>
        <th>URL</th>
        <th>Image</th>
        <th>Created</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {{#each adverts}}
        <tr>
          <td>{{this.advertName}}</td>
          <td>{{this.targetVersion}}</td>
          <td>{{this.redirectUrl}}</td>
          <td><img src="{{this.s3Url}}" width="200" alt="{{this.fileName}} image" /></td>
          <td>{{created this.created}}</td>
          <td><button type="submit" class="btn btn-danger">Delete</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>
{{!-- <main>
  {{#if success}}
    <p class="success">{{success}}</p>
  {{/if}}
  {{#if error}}
    <p class="error">{{error}}</p>
  {{/if}}
  <div class="actions">
    <h1>Advert Actions</h1>

  </div>
  <div class="advert">
    <div class="currentAdvert">
      <h1>Current Adverts</h1>
      <p>Hello</p>
    </div>
    <div class="newAdvert">
      <h1>Add New Advert</h1>
      <p>
        <form action="/advert" method="post" enctype="multipart/form-data">
          <div class="separator">
            <label for="target_version">Ad Campaign Name:</label>
            <input id="campaign_name" type="text" name="campaign_name" required>
          </div>
          <div class="separator">
            <label for="target_version">Ad Target Version:</label>
            <select id="target_version" name="target_version" multiple required>
              <option selected value="5.3">5.3.0</option>
              <option value="5.2.1">5.2.1</option>
              <option value="5.2.0">5.2.0</option>
              <option value="5.1.0">5.1.0</option>
              <option value="5.0.2">5.0.2</option>
              <option value="5.0.1">5.0.1</option>
              <option value="5.0.0">5.0.0</option>
              <option value="4.6.0">4.6.0</option>
            </select>
          </div>
          <div class="separator">
            <label for="advert_image">Ad Image:</label>
            <input id="advert_image" type="file" name="advert_image" required>
          </div>
          <div class="separator">
            <button type="submit">Submit</button>
          </div>
        </form>
      </p>
    </div>
  </div>
</main> --}}
