<nav class="navbar navbar-light bg-faded">
  <div class="container">
    <h1 class="navbar-brand mb-0">Opsview Adverts</h1>
  </div>
</nav>
<div class="container">
  <div class="mt-4">
    {{#if success}}
      <div class="alert alert-success" role="alert">{{success}}</div>
    {{/if}}
    {{#if error}}
      <div class="alert alert-error" role="alert">{{error}}</div>
    {{/if}}
    <div class="row">
      <div class="col-md-8">
        <h2>Adverts</h2>
        {{#each adverts}}
          <div class="card">
            <img class="card-img-top" src="https://fillmurray.com/225/300" alt="Card image cap">
            <div class="card-block">
              <h4 class="card-title">{{this.campaignName}}</h4>
              <p class="card-text">{{this.targetVersion}}</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        {{/each}}
      </div>
      <div class="col-md-4">
        <h2>Actions</h2>
        <form action="/action" method="post" enctype="multipart/form-data" class="mt-2 mb-2">
          <input type="hidden" name="toggle_adverts_status" value="{{adverts_status_toggled}}">
          <button type="submit" class="btn btn-primary">
            {{#if adverts_status}}
              Disable all adverts
            {{else}}
              Enable all adverts
            {{/if}}
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
{{!-- <main>
  {{#if success}}
    <p class="success">{{success}}</p>
  {{/if}}
  {{#if error}}
    <p class="error">{{error}}</p>
  {{/if}}
  <div class="actions">
    <h1>Advert Actions</h1>

  </div>
  <div class="advert">
    <div class="currentAdvert">
      <h1>Current Adverts</h1>
      <p>Hello</p>
    </div>
    <div class="newAdvert">
      <h1>Add New Advert</h1>
      <p>
        <form action="/advert" method="post" enctype="multipart/form-data">
          <div class="separator">
            <label for="target_version">Ad Campaign Name:</label>
            <input id="campaign_name" type="text" name="campaign_name" required>
          </div>
          <div class="separator">
            <label for="target_version">Ad Target Version:</label>
            <select id="target_version" name="target_version" multiple required>
              <option selected value="5.3">5.3.0</option>
              <option value="5.2.1">5.2.1</option>
              <option value="5.2.0">5.2.0</option>
              <option value="5.1.0">5.1.0</option>
              <option value="5.0.2">5.0.2</option>
              <option value="5.0.1">5.0.1</option>
              <option value="5.0.0">5.0.0</option>
              <option value="4.6.0">4.6.0</option>
            </select>
          </div>
          <div class="separator">
            <label for="advert_image">Ad Image:</label>
            <input id="advert_image" type="file" name="advert_image" required>
          </div>
          <div class="separator">
            <button type="submit">Submit</button>
          </div>
        </form>
      </p>
    </div>
  </div>
</main> --}}
